<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
        	<span ion-text>Cart</span>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="lightest-bg">

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<!-- <ion-card class="primary-bg" margin-top>
					<ion-card-content>
						<p text-center class="text-white">You still haven't any item.</p>
					</ion-card-content>
				</ion-card> -->

        <div *ngIf="(orders$ | async) as orders; else loadingOrders;">
  				<ion-list no-margin *ngIf="orders.length > 0; else noOrders;">
						<ion-item>
							Entrada: {{ guest.entrance_value | currency:"R$" }}
						</ion-item>
  					<ion-item-sliding *ngFor="let order of orders">
  						<ion-item>
                <ion-card>
                  <ion-card-header text-center>
                    {{ order.status }}
                  </ion-card-header>
                  <ion-card-content>
                    <ion-list no-margin>
                      <ion-item-sliding *ngFor="let dish of order.dishes">
                        <ion-item *ngIf="dish.dish | async; let dishObj; else loadingDish;">
        									<ion-avatar item-start>
        										<img src="{{dishObj.picture}}"/>
                          </ion-avatar>
                          <h2 ion-text color="dark" class="fw700">
                            {{ dishObj.name }} x <span>{{ dish.quantity }}</span>
                          </h2>
                        </ion-item>
                        <ng-template #loading><ion-spinner></ion-spinner>Carregando Item...</ng-template>
                      </ion-item-sliding>
                    </ion-list>

                  </ion-card-content>
  							</ion-card>
              </ion-item>
  					</ion-item-sliding>
  				</ion-list>
          <button ion-button color="primary" icon-left tappable (click)="openRestaurantDetail()" *ngIf="orders.length == 0">
            <ion-icon name="beer"></ion-icon>
            Adicione algo em seu pedido
          </button>

  				<ion-card class="primary-bg" *ngIf="(getTotalSubject() | async) as total">
  					<ion-card-content>
  						<p ion-text color="light">Total Order Value</p>
  						<h2 ion-text class="text-white fw700">{{ total | currency }}</h2>
  					</ion-card-content>
  				</ion-card>
        </div>
        <ng-template #loadingOrders><ion-spinner></ion-spinner>Carregando Pedidos...</ng-template>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ion-footer class="no-padding">
	<button ion-button full large color="dark" no-margin icon-right (click)="openCheckout()" *ngIf="(getCanDoCheckoutSubject() | async) as canDoCheckout">
		Checkout
		<ion-icon name="card"></ion-icon>
	</button>

  <ion-grid no-padding fixed>
		<ion-row no-padding>
			<button ion-button icon-left block color="primary" (click)="openRestaurantDetail()" class="col col-6">
        	<ion-icon name="compass" class="text-18x"></ion-icon>
        	<span ion-text class="text-12x">Cardápio</span>
			</button>
			<button ion-button icon-left block color="primary" (click)="openOrder()" class="col col-6">
          <ion-icon name="albums" class="text-18x"></ion-icon>
          <span ion-text class="text-12x">Pedido</span>
			</button>
		</ion-row>
	</ion-grid>
</ion-footer>
