<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
        	<span ion-text>Cart</span>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="lightest-bg">

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<ion-card class="primary-bg" margin-top>
					<ion-card-content>
						<p text-center class="text-white">You still haven't any item.</p>
					</ion-card-content>
				</ion-card>

				<ion-list no-margin>
					<ion-item-sliding *ngFor="let order of orders">
							<div ion-item>
                <div *ngIf="(order.dish | async) as dish">
									<ion-thumbnail item-left>
										<img src="{{dish.picture}}"/>
                    <h2 ion-text color="dark" class="fw700">
                      {{dish.name}} x <span>{{ order.quantity }}</span>
                    </h2>
									</ion-thumbnail>
									<div item-right>
										<ion-badge>{{ dish.price * order.quantity | currency }}</ion-badge>
                    <ion-badge>{{ order.status }}</ion-badge>
									</div>
                </div>
							</div>
					</ion-item-sliding>
				</ion-list>

				<ion-card class="primary-bg">
					<ion-card-content>
						<p ion-text color="light">Delivery Tax (30 - 60min): <span class="fw700">FREE</span></p>

						<hr>

						<p ion-text color="light">Total Order Value</p>
						<h2 ion-text class="text-white fw700">{{ totalVal | currency }}</h2>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ion-footer class="no-padding">
	<button ion-button full large color="dark" no-margin icon-right (click)="openCheckout()">
		Checkout
		<ion-icon name="card"></ion-icon>
	</button>
</ion-footer>
